/**
 *Hoja de estilo que contiene las variables la aplicación.
 *@since: 02/02/2021.
 *@author [Juan Ospina]
 */

$black-color: #000;
$white-color: #fff;
$primary-color: rgb(216, 201, 201);
$secondary-color: rgb(93, 76, 76);
$primary-font: 'Roboto',
sans-serif;